* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer-box {
    width: 100%;
    background-color:aliceblue;
    position: absolute;
    bottom: 0%;
    direction: rtl;
}

.text {
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
    width: 90%;
    margin: 5px;
}

.submit {
    padding: 3px 10px 3px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 8%;
}