.message-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message {
    max-width: 50%;
    word-wrap: break-word;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    color: white;
}

.my-message {
    background-color: #DB0142;
    align-self: flex-end;
    border-bottom-right-radius: 0px;
}

.peer-message {
    background-color: #12A3CC;
    border-bottom-left-radius: 0px;
}

@media screen and (max-width: 600px) {
    .message {
        max-width: 80%;
    }
}