*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    overflow-y: scroll;
}

.header-header {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 700;
}

.header-main {
    display: flex;
    justify-content: space-between;
}

.header-item {
    margin: 0 10px;
}