.order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-item .total-bar {
    height: 10px;
    background-color: blue;
}

.price{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}